.voteButton {
    flex-grow: 1;
    margin: 0 10;
}

.select {
    flex-grow: 6;
    margin: 0 10;
}

.card {
    margin: 30;
}

.pad {
    padding: 20
}

.box {
    display: flex;
}

.vote-title {
    text-align: center;
    font-size: 20;
}