.detail-card {
    margin: 10 50;
}

.host-image {
    width: 100%;
    margin: 20 0;
    box-shadow: 0 0 16px gray;
}

.card-box {
    margin: 30;
}

.head-text {
    font-size: 30;
}

.sub-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20;
}

.end-time {
    text-align: right;
    color: gray;
}